<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>SameGame Settings</comment>
<entry key="hideWindowsMessage">¼×Þß</entry>
<entry key="designNum">x</entry>
<entry key="username">&#149;Æá</entry>
</properties>
